html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Raileway';
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, sans-serif;
}

/*Navbar Animation*/

/* Circle behind */
div.circleBehind a:before, div.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/*header {
  height: 250px;
  background: #1976d2;
  padding: 23px 0;
  color: white;
  background-image: url("../images/sunset-platform.jpg");
  background-size: auto 300px;
}*/


h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

header h1 {
  text-align: right;
  padding-right: 10px;
}

nav.main-nav {
  background: #fff;
  height: 60px;
  border-bottom: 1px solid #dadada;
  box-shadow: 0 20px 20px -20px #333;
  text-align: center;
}

.container {
  display: inline;
  margin: 0 auto;
}

nav.main-nav a {
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 19px;
  color: #00bf90;
}

nav a.active,nav a:hover {
    background:#ecf0f1;
    font-weight: bold;
    color: #00bf90;
    /*border-bottom: 1px solid #00bf90;*/
}

.content {
    color:#222;
    padding:50px;
    -webkit-column-count:3;
/* Chrome, Safari, Opera */
    -moz-column-count:3;
/* Firefox */
    column-count:3;
    -webkit-column-gap:40;
    column-gap:40px;
}

.content h2 {
    margin:0;
}

nav.main-nav.stickytop {
    position: fixed;
    top: 0;
    width: 100%;
}

::-moz-selection {
    background:#b3d4fc;
    text-shadow:none
}

::selection {
    background:#b3d4fc;
    text-shadow:none
}

@media screen and (max-width: 580px) {

}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    header {
        padding:0;
        margin: 0;
         }

    nav.main-nav a {
        font-size:17px;
    }

    nav.main-nav {
        height:105px;
    }

    .container {
        margin:0 auto;
        width:50%;

    }

    .content {
        -webkit-column-count:1;
        /* Chrome, Safari, Opera */
        -moz-column-count:1;
        /* Firefox */
        column-count:1;
    }
    .mySlides{
      display: none;
      height: 25%;
      width: 20%;
    }
    .slideshow{
      width: 100%;
      height: 100px;
      overflow:hidden;
      margin: 0 auto;
      padding-top: 0;
      padding: 0;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding:5px 0 55px;
    }

    nav.main-nav a {
        font-size:17px;
    }

    nav.main-nav {
        height:55px;
    }
    .container {
      width:92%;
    }
    header {
    padding:0;
}
.mySlides{
  display: none;
  height: 25%;
  width: 20%;
}
.slideshow{
  width: 100%;
  height: 100px;
  overflow:hidden;
  margin: 0 auto;
  padding-top: 0;
  padding: 0;
}

nav.main-nav a {
    font-size:17px;
}

nav.main-nav {
    height:55px;
}

.container {
    width:92%;
}

.content {
    -webkit-column-count:1;
    /* Chrome, Safari, Opera */
    -moz-column-count:1;
    /* Firefox */
    column-count:1;
}
}

.sectionFooter{
  background-color: #fff;
  color: #25681E;
  height: 100%;
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
  text-align: center;
}

.sectionFooter a{
  text-decoration: none;
  color: #25681E;
}
.napelemkollektor img{
  margin-bottom: 10%;
  border-radius: 10px;
  border: 1px #25681E;
}
.napelemkollektor p{
  margin-bottom:10%;
}
.mySlides{
  display: none;
  height: 100%;
  width: 100%;
}
.slideshow{
  width: 100%;
  height: 400px;
  overflow:hidden;
  margin: 0 auto;
  padding-top: 0;
}
